.site-foot {

  background-color: var(--color-primary);

  &__details {
    background-color: inherit;
  }

  div {
    flex: 1 .5 500px;
  }

  // background: var(--color-selection-bg);
  color: var(--color-light);
  border-top: 1px solid var(--color-stroke);

  a {
    color: var(--color-light);

    &:hover {
      text-decoration: none;
    }
  }

  &__credit {
    text-align: center;
  }
}
